<footer>
    <div class="container">
        <div class="logo-icon">
            <img src="img/Musculo-Logo.png" alt="Musculo-Logo">
        </div>
        <div class="info">
            <p><a href="mailto:contato@bombapatch.com.br">contato@bombapatch.com.br</a> <br>
                <a href="tel:+5511956565656">(11) 95656-5656 (whatsapp)</a></p>

            <p>
                AVENIDA PROFESSOR ALFONSO BOVERO, 8080 <br>
                BAIRRO PERDIZES <br>
                SÃO PAULO- SP
            </p>
        </div>
    </div>
</footer>